* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    background-color: rgb(6, 15, 28);
    font-family: 'Poppins', sans-serif;
}

header {
    padding: 5px 30px;
  }

  a {
    font-size: 25px;
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: orangered;
  }

.container {
    display: grid;
    grid-template-areas: "h h h h m m" "a a a b b b" "a a a f f f";
    gap: 15px;
    margin: 0% 15% 4% 6%;
}

.one {
    background-color: rgb(232, 71, 30);
    grid-area: h;
    height: 250px;
}

.two {
    background-color: rgb(232, 167, 14);
    grid-area: m;
    height: 250px;
}

.three {
    grid-area: a;
    background-color: rgb(24, 161, 38);
    height: 265px;
}

.four {
    grid-area: b;
    background-color: rgb(31, 161, 204);
    height: 125px;
}

.five {
    grid-area: f;
    background-color: rgb(31, 161, 204);
    height: 125px;
}